<body>
  <div class="SongCardDiv flex justify-left mt-4 flex-wrap">
    <% for(let music in songs) { %>
      <% let card = songs[music]; %>
      <% let path = `/play/${card.id}`; %>
    <form action=<%= path %> method="get">
      <button type="submit">
        <div class="song flex-col justify-center items-center p-4 rounded-lg">
          <img class="h-48 rounded-lg mb-2" src="<%=card.urlCoverPic %>" alt="" />
          <div class="songDetails">
            <h2 class="text-2xl"><%= card.title %></h2>
            <p><%= card.artist %> • <%= card.year %></p>
          </div>
        </div>
      </button>
    </form>
    <% } %>
  </div>
</body>
